**/.venv
**/node_modules
server/app/files
db/mysql_data
**/__pycache__
**.vscode
**.next

# NextJS Gitignore

# dependencies
web/app/node_modules
web/app/.pnp
web/app/.pnp.js
web/app/.yarn/install-state.gz

# testing
web/app/coverage

# next.js
web/app/.next/
web/app/out/

# production
web/app/build

# misc
web/app/.DS_Store
web/app/*.pem

# debug
web/app/npm-debug.log*
web/app/yarn-debug.log*
web/app/yarn-error.log*

# local env files
web/app/.env*.local

# vercel
web/app/.vercel

# typescript
web/app/*.tsbuildinfo
web/app/next-env.d.ts
